@model DEMO_TiendaJunior.Models.VentasModel

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar venta</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dFecha" class="control-label">Fecha de transacción:</label>
                <input asp-for="dFecha" class="form-control" />
                <span asp-validation-for="dFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label">Nombre del cliente:</label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Encargado" class="control-label">Nombre del encargado:</label>
                <input asp-for="Encargado" class="form-control" />
                <span asp-validation-for="Encargado" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="@Url.Action("Index", "Ventas")" class="btn btn-secondary">Cancelar</a>
         </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
