@model IEnumerable<DEMO_TiendaJunior.Models.CategoriaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de categorias</h1>

<p>
    <a asp-action="Create" asp-controller="Categoria" class="btn btn-success">
        Registrar Categoria
    </a>
</p>
<table class="table table-bordered table-striped table-responsive" id="categoryTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
               <div class="w-50 btn-group" role="group">
                    <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@item.Id_Categoria"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.Id_Categoria"><i class="fa-solid fa-trash"></i></a>
               </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {

    <script>
        $(document).ready(function () {
            $("#categoryTable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}