@model IEnumerable<DEMO_TiendaJunior.Models.PrecioModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Precios por unidad</h1>

<p>
    <a asp-action="Create">Establecer precio</a>
</p>
<table class="table table-bordered table-striped table-responsive" id="pricesTable">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Producto?.Nombre_Producto
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Precio">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Precio">Eliminar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#pricesTable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 2, 
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}