@model DEMO_TiendaJunior.Models.LoginModel

@{
    ViewData["Title"] = "Login Data";
}

<h1>Configurar datos de inicio de sesión.</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Usuario" class="control-label">Usuario: </label>
                <select asp-for="Id_Usuario"
                        asp-items="@ViewBag.Usuarios"
                        class="form-select">
                    <option value="">Seleccione</option>
                </select>
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="@Url.Action("Index", "Login")" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
