@model DEMO_TiendaJunior.Models.DetalleModel

@{
    ViewData["Title"] = "Delete";
}

<h1>¿Desea borrar este detalle?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Cantidad vendida:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            Sub Total:
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.SubTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Id_Detalle" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-controller="Ventas" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>
